* {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
}

header {
  display: flex;
  background-color: white;
}

.leftArea {
  flex: 4;
}

.leftAreaContent {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-left: 60px;
}

.title label {
  margin: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.centerArea {
  flex: 2.5;
}

.sub {
  flex: 5.5;
}

.centerArea ul {
  display: flex;
  margin-top: 38px;
  margin-left: 20px;
}

.centerArea li {
  list-style: none;
  margin-right: 30px;
}

.login {
  text-decoration: none;
  color: #454545;
  font-weight: bold;
}

.register {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.807);
  padding: 10px 20px;
  border-radius: 5px;
}

.register:hover {
  background-color: rgba(0, 0, 0, 0.585);
}

.err {
  background-color: white;
  padding: 50px 100px;
  margin-top: 20px;
  font-weight: bold;
}

.backBtn{
  margin-top: 30px;
}

.backBtn a{
  padding: 15px 80px;
  background-color: rgba(0, 0, 255, 0.623);
  border-radius: 5px;
  color: white;
  text-decoration: none;
}
