* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f6f6;
}

header {
  display: flex;
  background-color: white;
}

.leftArea {
  flex: 4;
}

.leftAreaContent {
  display: flex;
  align-items: center;
}

.logo {
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-left: 60px;
}

.title label {
  margin: 20px;
  margin-left: 10px;
  font-size: 20px;
  font-weight: bold;
}

.centerArea {
  flex: 2.5;
}

.sub {
  flex: 5.5;
}

.centerArea ul {
  display: flex;
  margin-top: 38px;
  margin-left: 20px;
}

.centerArea li {
  list-style: none;
  margin-right: 30px;
}

.login {
  text-decoration: none;
  color: #454545;
  font-weight: bold;
}

.register {
  text-decoration: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.807);
  padding: 10px 20px;
  border-radius: 5px;
}

.register:hover {
  background-color: rgba(0, 0, 0, 0.585);
}

.authContent {
  width: 600px;
  margin: 150px auto;
}

.authContent h2 {
  font-size: 30px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.authContent span {
  background-color: rgba(234, 0, 0, 0.845);
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 14px;
  color: white;
  margin-right: 15px;
}

.authContent label {
  font-size: 20px;
  font-weight: bold;
}

.authContent input {
  width: 350px;
  height: 45px;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 20px;
}

.authContent button {
  padding: 10px 100px;
  background-color: rgba(0, 0, 255, 0.623);
  border: none;
  margin-top: 70px;
  margin-left: 165px;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

select {
  width: 350px;
  height: 45px;
  border-radius: 5px;
  font-size: 20px;
  border: 2px solid black;
}

.authContent p {
  margin-top: 30px;
}
