* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f6f6f6;
}

header {
    display: flex;
    background-color: white;
}

.leftArea {
    flex: 4;
}

.leftAreaContent {
    display: flex;
    align-items: center;
}

.logo {
    margin-top: 25px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-left: 60px;
}

.title label {
    margin: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-weight: bold;
}

.centerArea {
    flex: 4;
}

.sub {
    flex: 4;
}

.centerArea ul {
    display: flex;
    margin-top: 38px;
    margin-left: 20px;
}

.centerArea li {
    list-style: none;
    margin-right: 30px;
}

.login {
    text-decoration: none;
    color: #454545;
    font-weight: bold;
}

.register {
    text-decoration: none;
    color: #454545;
    font-weight: bold;
}

.wrap {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
}


/* .main_content {
  background: white;
} */

.posts {
    background-color: white;
    margin: 40px 10px;
    padding: 30px 60px;
    border-radius: 5px;
}

.area1 {
    padding-bottom: 15px;
}

.posts .area1 .parent {
    float: left;
    width: 80px;
    height: 80px;
    margin-right: 20px;
    background-color: #f38181;
    border-radius: 5px;
}

.posts .area1 .parent .child {
    display: table-cell;
    vertical-align: middle;
    width: inherit;
    height: inherit;
    text-align: center;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.915);
}

.posts .area1 .information {
    display: flex;
}

.posts .area1 .information .company {
    flex: 8;
}

.posts .area1 .information .company h3 {
    margin-bottom: 10px;
}

.posts .area1 .information .format {
    flex: 4;
    display: flex;
    margin-top: 10px;
}


/* .posts .area1 .information .format label {
  font-size: 12px;
  padding: 10px 20px;
  background-color: #29aba4;
  font-weight: bold;
  border-radius: 5px;
  margin-right: 20px;
  color: white;
  margin-left: 80px;
} */

.posts .area1 .information .format span {
    font-size: 20px;
    cursor: pointer;
}


/* 
.posts .area2 { */


/* background-color: #fdfdfd; */


/* padding: 20px 30px; */


/* } */

.posts .area2 .question {
    margin: 10px 0;
    background-color: #fafafa;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    word-break: break-all;
}

.posts .area2 .answer {
    margin: 10px 0;
    background-color: #fafafa;
    padding: 10px 20px;
    border-radius: 5px;
    word-break: break-all;
}

.posts .area2 .question span {
    color: #1687a7;
    font-weight: bold;
}

.posts .area2 .answer span {
    color: #dd0a35;
    font-weight: bold;
}

.posts .area3 {
    padding: 10px 0;
    display: flex;
    align-items: center;
}

.posts .area3 .reply {
    flex: 7;
}

.posts .area3 .userInformation {
    flex: 5;
    display: flex;
    align-items: center;
}

.posts .area3 .userInformation .one {
    padding: 10px 20px;
    align-items: center;
    color: gray;
    border-radius: 5px;
    font-size: 14px;
}

.posts .area3 .reply a {
    background-color: rgba(0, 0, 255, 0.623);
    padding: 15px 100px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: bold;
}


/* - */

.side {
    margin-right: 10px;
    margin-top: 40px;
}

.side_content {
    position: sticky;
    /* margin-top: 20px; */
    top: 0px;
    background-color: white;
}

.area4 {
    padding-top: 40px;
}

.area4 .link {
    margin-left: 595px;
}

.area4 .edit {
    margin-right: 15px;
    background-color: #1687a7;
    padding: 8px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.area4 .delete {
    background-color: #dd0a35;
    padding: 8px 30px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.area4 .edit:hover {
    background-color: #1688a7cc;
}

.area4 .delete:hover {
    background-color: #dd0a34ba;
}